h2{
    border-style: ridge;
    border-color: silver;
    
}

p {
    font-size: 25px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

img { 
    max-height: 80px;
    min-width: 10px; 
    border-radius: 50%;
}


